<div class="directivas">

	<app-product-list [products]="list"></app-product-list>

	<div *ngIf="hasItems()">

		<label [ngClass]="customClass">*NgIf</label>

		<p>{{ count }}</p>

	</div>

	<div [style.display]="!hasItems() ? 'none' : ''">

		<label [ngClass]="{'active': hasItems()}">Display none (o "NgShow")</label>

		<p [ngStyle]="{'font-weight': !hasItems() ? 'regular' : 'bold'}">{{ count }}</p>

	</div>

	<div>

		<label>Especifique cantidad a agregar</label>

		<input type="number" placeholder="Ingrese una cantidad" [(ngModel)]="amount"/>

	</div>

	<button (click)="addItem()">{{ buttonText | lowercase }}</button>

</div>